:root {
  --bg-color: #fbfbfbb9;
  --option-text: #182825;
  --btn-bg: #9dc515;
  --primary-blue: #0a4289;
}

#formId {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
h1 {
  margin: 2vh;
  font-size: 3em;
  color: white;
}
.containerForm {
  display: flex;
  justify-content: center;
  padding: 5vh;
  height: 85vh;
}
select {
  width: 70%;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  color: var(--option-text);
  text-align: center; /* centre le texte dans le champ */
  text-align-last: center; /* centre l'élément sélectionné */
}

select option {
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--option-text);
  letter-spacing: 0.1em;
  font-weight: bold;
}

.step-1,
.step-2,
.step-3,
.step-4 {
  margin: 2vh;
}

.formStyle {
  width: 100%;
  max-width: 700px;
  background-color: var(--bg-color);
  border: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--bg-color);
}
