body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top,
    var(--color-accent),
    var(--color-secondary),
    var(--color-primary)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  height: 8vh;
  background-color: var(--color-white);
}
.logo {
  position: absolute;
  left: 2vh;
  width: 8vh;
  height: 8vh;
  background: url(../assets/logo.png) no-repeat left center;
  background-size: contain;
  cursor: pointer;
  pointer-events: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 3vw;
}
.nordMetal {
  position: absolute;
  display: none;
  background: url(../assets/nmLogo.png) no-repeat bottom right;
  right: 2vh;
  width: 10vh;
  height: 8vh;
  background-size: contain;
}
.navMenu {
  width: 80%;
  display: none;
  justify-content: center;
}
.navMenu ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.7em;
  gap: 5vw;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-size: clamp(0.9em, 2vw, 1.5em);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw;
}
h1 {
  color: var(--color-white);
  padding: 4vh 0;
  font-size: clamp(3rem, 8vw, 5rem);
}
.loginForm,
.createDevisForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

select,
input {
  /* border: 1px solid var(--color-black);
  box-shadow: 0 2px 3px var(--color-box-shadow); */
  padding: 0.5em 1em;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  border: 2px solid var(--primary-blue);
  box-shadow: none;
}
select {
  cursor: pointer;
}
input {
  cursor: auto;
}

.showMoreBtn,
.btnCreateUser,
.btnSignIn,
.btnCreer,
.btnModal,
.btnExporter,
.btnValider,
.btnPatch {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.2rem 1rem;
}
.hidePatch {
  display: none;
}
.btnCreerPoste {
  order: 2;
}

.btnCreerClient {
  order: 2;
}
.btnCreer {
  margin-top: 2vh;
}
.btnCreerFap {
  display: flex; /* -- A voir si il ne faut pas mettre un display none plus tard -- */
}

.form-separator {
  border: none;
  height: 1px;
  background-color: var(--color-border);
  margin: 2rem 0;
  width: 80%;
  max-width: 400px;
}
footer {
  height: 8vh;
  display: flex;
  justify-content: center;
}

.burger {
  width: clamp(30px, 3.5vw, 50px);
  aspect-ratio: 1; /* carré */
  position: relative;
  cursor: pointer;
  padding: 5px 0;
}

.burger span {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 15%;
}

/* État actif */
.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: auto;
  top: 50%;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 0.5;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slideMenu {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.242);
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.slideMenu.show {
  animation: slideDown 0.3s ease forwards;
  pointer-events: auto;
}

.slideMenu.hide {
  animation: slideUp 0.3s ease backwards;
  pointer-events: none;
}

.slideMenu ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

.containerConnected {
  position: absolute;
  top: 11vh;
  right: 2vw;
}

.connectedBtn,
.ra_id_user,
.ra_id_admin {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition:
    0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.ra_id_user,
.ra_id_admin {
  margin-bottom: 2vw;
  position: relative;
  width: clamp(45px, 6vw, 70px);
  height: clamp(45px, 6vw, 70px);
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.ra_id_admin::after,
.ra_id_user::after {
  content: '⊕';
  position: fixed;
  right: -6px;
  bottom: -12px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--color-border);
}
.roleUser,
.roleAdmin,
.helloUser,
.helloAdmin {
  font-size: clamp(0.8rem, 1.3vw, 2rem);
}
.roleUser,
.roleAdmin {
  margin-top: -10px;
  text-transform: uppercase;
}

.deconnectBtn {
  z-index: 200;
  background-color: var(--color-adminBtn);
  border: 2px solid transparent;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.2s ease color 0.3s ease;
  padding: 0.2vw 1vw;
  width: clamp(9rem, 16vw, 15rem);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-accent);
  cursor: pointer;
}
.btnText {
  position: relative;
  z-index: 2;
  font-size: clamp(0.8rem, 1.3vw, 1.5rem);
}

.deconnectBtn::after {
  content: '→';
  position: absolute;
  left: 15px;
  top: auto;
  text-align: center;
  color: var(--color-white);
  transition: transform color 0.3s ease;
  font-size: clamp(0.8rem, 1.5vw, 1.5em);
}
.deconnectBtn:hover::after {
  color: var(--primary-blue);
}
.deconnectBtn:hover {
  transform: scale(1.03);
  transition:
    0.3s ease,
    color 0.3s ease;
  color: var(--color-white);
  border: 2px solid var(--color-adminBtn);
}

.deconnectBtn::before {
  z-index: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--color-secondary);
  border-radius: 25px;
  transform: translate(-50%, -50%);

  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.deconnectBtn:hover::before {
  width: 100%;
  height: 100%;
}

.connectedBtn:hover {
  transform: scale(1.05);
  transition:
    0.3s ease,
    color 0.3s ease;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btnGererCompte {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.2vw 1vw;
  border-radius: 25px;
  background-color: var(--bg-color);
}

.btnGererCompte:hover {
  background-color: var(--color-border);
}

.divBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .burger,
  .slideMenu {
    display: none;
  }
  .nordMetal {
    display: flex;
  }

  .navMenu {
    display: flex;
  }
  nav {
    justify-content: center;
    align-items: flex-end;
  }
}

.close-btn,
.goToFapBtnDevis,
.edit-btn {
  font-size: clamp(1.6rem, 2.5vw, 2.5rem);
  cursor: pointer;
  align-self: flex-start;
  color: var(--primary-blue);
  border: none;
  background-color: transparent;
}

.close-btn {
  order: 2;
}
.edit-btn {
  font-size: clamp(1.4rem, 2.3vw, 2.3rem);
}

@media screen and (width > 768px) {
  h1 {
    padding: 8vh 0;
  }
}
@media screen and (width > 1024px) {
  .ra_id_user,
  .ra_id_admin {
    margin-bottom: 0;
  }
}
