header {
  background: url(../assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: clamp(6vh, 7.5vh, 10vh);
  background-color: #fff;
}
main {
  background: linear-gradient(to bottom left, #073973, #2479b2, #85bd21);
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-color);
  height: 7.5vh;
}

.bottomFooter,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.bottomFooter,
p {
  font-size: 0.8em;
  letter-spacing: normal;
}
.bottomFooter,
li {
  list-style: none;
}
.bottomFooter,
a {
  text-decoration: none;
  color: var(--option-text);
  font-size: 0.7em;
}

.rights {
  font-weight: 400;
  font-size: 0.5em;
}
