/* no scroll pour l'ouverture de certains modal  */

.noscroll {
  overflow: hidden;
}

.modal h2 {
  color: red;
  text-transform: uppercase;
}

.modal.hide {
  display: none;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.modalTitle,
.modalDevisLibelle,
.modalPostLibelle {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
    to top,
    var(--color-accent),
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0 clamp(1rem, 3vw, 2rem) clamp(1rem, 3vw, 1rem);
}

.modalDevisCodexRa {
  text-align: center;
  color: var(--primary-blue);
  font-size: clamp(1.3rem, 2.3vw, 3rem);
  font-weight: 600;
}
.modalCommanditaire {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.modalCommanditaire,
.modalSegm {
  border: 2px solid var(--primary-blue);
}

.modalClient_content,
.modalDevis_content,
.modalPost_content,
.modalPassword_content,
.modalCmdt_content {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modalUser_content,
.modalAdmin_content {
  position: relative;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100%;
  color: var(--color-accent);
}
.modalPost_content {
  padding: 0 1vw 2vw;
}

.modalDevis,
.modalClient {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  left: 50%;
  top: 55%;
  height: fit-content;
  width: 80vw;
  max-width: 700px;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 4px;
}

.modalSegm {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.fsClient {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divBtnModal {
  display: flex;
  gap: 15px;
}

.modalUser,
.modalCmdt {
  position: fixed;
  left: 50%;
  top: 55%;
  height: 50vh;
  width: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 4px;
}

.modalCmdt {
  height: 25vh;
}

.modalPasswordLogin,
.modal {
  display: flex;
  position: fixed;
  left: 50%;
  top: 55%;
  height: 38vh;
  width: 30vw;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 4px;
}

/* Animations pop up pop out pour les modals */

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes popOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes popInConnected {
  0% {
    opacity: 0;
    transform: translate(0, 8vh) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate(0, 8vh) scale(1);
  }
}
@keyframes popOutConnected {
  0% {
    opacity: 1;
    transform: translate(0, 8vh) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8vh) scale(0.7);
  }
}
.modalDevis,
.modalPost,
.modalClient,
.modalDetail,
.modalUser,
.modalUserConnected,
.modalAdminConnected,
.modalPasswordLogin,
.modal,
.modalCmdt {
  /* tes styles existants */
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.modalUser.show,
.modalDevis.show,
.modalPost.show,
.modalClient.show,
.modalDetail.show,
.modalPasswordLogin.show,
.modal.show,
.modalCmdt.show {
  animation-name: popIn;
}

.modalUserConnected.show,
.modalAdminConnected.show {
  animation-name: popInConnected;
}
.modalUserConnected.hide,
.modalAdminConnected.hide {
  animation-name: popOutConnected;
}
.modalUser.hide,
.modalDevis.hide,
.modalPost.hide,
.modalClient.hide,
.modalDetail.hide,
.modalPasswordLogin.hide,
.modalCmdt.hide {
  animation-name: popOut;
}

.modalDevis-overlay,
.modalPost-overlay,
.modalClient-overlay,
.modalDetail-overlay,
.modalUser-overlay,
.modalPassword-overlay,
.modal-overlay,
.modalCmdt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* fond sombre transparent */
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalDetail {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 55%;
  height: fit-content;
  width: 50vw;
  max-width: 70%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 4px;
}
.grpHeadModal {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 1vw 0;
}

.titleModalDetail {
  color: black;
  margin: 0;
}

.modalDetail_content {
  display: flex;
  flex-direction: column;
  padding-bottom: 1vw;
}
.dataDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  padding: 0 1.5vw 0.5vw;
  font-weight: bold;
}
.totalDetail {
  border-radius: 4px;
  color: var(--color-white);
  padding: 0.5vw 1.5vw;
  background-color: var(--color-primary);
  font-weight: lighter;
  flex: 1;
  text-align: center;
}

.close-btnDetail {
  position: absolute;
  right: 0;
  top: 0;
  color: black !important;
}

.libelleDetail {
  flex: 3;
  color: black;
}

.modalUserConnected,
.modalAdminConnected {
  display: flex;
  position: fixed;
  margin-right: 4vw;
  right: 0;
  top: 8vh;
  width: 346px;
  z-index: 2000;
  background-color: var(--color-white);
  border-radius: 25px;
}
.modalPost {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  left: 50%;
  top: 55%;
  height: fit-content;
  width: 80vw;
  max-width: 70%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 4px;
}

.modal.hidden,
.modalDevis.hidden {
  display: none;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to top,
    var(--color-accent),
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 20px;
  border-radius: 6px;
  width: clamp(300px, 70vw, 1440px);
  text-align: center;
  height: fit-content;
}

#modal_body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 75vh;
  align-items: center;
}

.modalSectionAchatFraisTitle,
.liModal,
.devisSegm {
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: clamp(0.7rem, 1.5vw, 1.4rem);
  text-align: start;
  padding: clamp(0.5rem, 1vw, 2rem);
  letter-spacing: 0.15rem;
}

.saf {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 40vh;
  overflow: scroll;
  gap: 2vw;
  padding: 0 2vw;
}

.sectionData,
.achatsData,
.fournituresData {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1vw;
  margin: 1vw 0;
  gap: 0.8vw;
}

.containerSection,
.containerAchat,
.containerFourniture {
  display: flex;
  background-color: var(--color-primary);
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
}
.btnModal {
  margin-top: 1vw;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.sectionsBloc,
.achatsBloc,
.fournituresBloc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.3vw;
}

.contextTitle {
  text-align: center;
  color: var(--color-white);
  font-size: clamp(1.1rem, 2vw, 3rem);
  letter-spacing: 0.1rem;
  font-weight: bolder;
  padding: 1vw 1vw 0;
}

.codeLibelle,
.quantite,
.prixUnitaire,
.total,
.produit,
.unite {
  background-color: var(--color-white);
  /* border: 1.8px solid black; */
  border-radius: 4px;
  text-align: center;
  padding: 0.2rem;
  font-weight: 600;
}

.codeLibelle,
.produit {
  flex: 3.5;
}

.total {
  flex: 2;
}
.quantite,
.prixUnitaire,
.unite {
  flex: 1.5;
}

.totalMd,
.tA,
.tF,
.totalGDiv {
  color: var(--color-white);
  font-weight: 800;
  text-align: center;
}
.totalText {
  text-transform: capitalize;
  font-weight: bold;
}

.totalMdvr,
.totalA,
.totalF,
.totalGlobal {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  align-items: center;
  border-top: 1.8px dashed var(--color-white);
  background-color: var(--color-primary);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.totalGlobal {
  border-top: none;
  border-radius: 4px;
}
.totalMdvrP,
.totalAchatsP,
.totalFournituresP,
.totalGlobalP {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2rem;
}

.clientLogo {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
}

.labelModalClient {
  width: 80%;
  font-weight: bold;
}

.close-btnClient {
  position: absolute;
  top: 0;
  right: 0;
}
