@import url(./variables.css);

#groupeFraisChantierContainer,
#groupeSectionContainer,
#groupeAchatContainer,
#groupeDevisList,
#groupePostesList {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenuSection,
.contenuAchat,
.contenuFraisChantier,
.contenuDevisList,
.contenuPostesList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.inputSection {
  display: flex;
  width: 80%;
  height: 3vh;
  margin-top: 1vh;
  max-width: 450px;
  gap: 4.2vh;
}
.inputAchat {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  max-width: 450px;
}

.nomAchat,
.qteAchat,
.uniteAchat,
.prixUAchat,
.totalAchat,
.qteFraisChantier,
.uniteFraisChantier,
.prixUFraisChantier,
.totalFraisChantier {
  margin-top: 1vh;
  width: 48%;
  height: 3vh;
}
.nomAchat {
  width: 80%;
  height: 4vh;
}

.nbHeures {
  width: 80%;
}
.btnGoToPost {
  order: -1;
  font-size: 1.8rem;
  display: flex;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.deletebtn {
  width: 20px;
  height: 20px;
  background-color: var(--color-delete-btn);
  border: none;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.deletebtn::before,
.deletebtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.deletebtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.groupePoste,
.groupeDevis,
.groupePostes {
  display: flex;
  justify-content: center;
}
#hidden {
  display: none;
}
.groupePoste {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.posteFap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#nomPoste {
  width: 100%;
  display: flex;
  justify-content: center;
}

#libelleDevis {
  width: 80%;
  margin-right: 20px;
}

.btnPoste {
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  border-radius: 50px;
  padding: clamp(0.3rem, 0.5vw, 1.5rem) clamp(0.5rem, 1vw, 2.5rem);
  cursor: pointer;
}

.btnPostes {
  display: flex;
  gap: 3vw;
}

/* page liste des devis  */

#devisList,
#postesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}
#devisList {
  width: 80%;
  max-width: 800px;
}
.devisContent {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.libelleRef {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
}

.devisLibelle,
.devis_ref {
  padding: 0 3vw;
}

.devisItem,
.sectionItem,
.achatItem,
.posteFap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  gap: 2vw;
  border: 1px solid var(--color-black);
  padding: 1em 1.5em;
  border-radius: 4px;
  box-shadow: var(--color-box-shadow);
  background-color: var(--color-white);
}

.groupeLibelle {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.modal,
.modalDevis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.noscroll {
  overflow: hidden;
}
.modal.hidden,
.modalDevis.hidden {
  display: none;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to top,
    var(--color-accent),
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 20px;
  border-radius: 6px;
  width: clamp(300px, 70vw, 1440px);
  text-align: center;
  height: fit-content;
}
.close-btn,
.goToPostBtn {
  font-size: clamp(1.5em, 3.5vw, 3rem);
  cursor: pointer;
  align-self: flex-start;
  color: var(--color-white);
}
.goToPostBtn {
  border: none;
  background-color: transparent;
}

#modal_body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 75vh;
  align-items: center;
}

.modalPostTitle,
.modalDevisLibelle {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0 clamp(1rem, 3vw, 2rem) clamp(1rem, 3vw, 2rem);
}

.modalSectionAchatFraisTitle,
.modalDevisCodexRa {
  color: var(--color-white);
  font-size: clamp(1.3rem, 2.3vw, 3rem);
  font-weight: 600;
}

.liModal,
.devisSegm {
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: clamp(0.7rem, 1.5vw, 1.4rem);
  text-align: start;
  padding: clamp(0.5rem, 1vw, 2rem);
  letter-spacing: 0.15rem;
}
ul {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.groupSegm {
  padding: 2vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: clamp(5px, 1vw, 10px);
  column-gap: 4%;
}

.modalCommanditaire,
.modalSegm {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.modalSegm {
  width: 48%;
}

.divCloseGoTo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
