@import url(./variables.css);

#groupeFraisChantierContainer,
#groupeSectionContainer,
#groupeAchatContainer,
#groupeDevisList,
#groupeClientList,
#groupePostList {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenuSection,
.contenuAchat,
.contenuFraisChantier,
.contenuDevisList,
.contenuClientList,
.contenuPostList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.inputSection {
  display: flex;
  width: 80%;
  height: 3vh;
  margin-top: 1vh;
  max-width: 500px;
  gap: 4.2vh;
}
.inputAchat,
.inputFrais {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  max-width: 500px;
}

.nomAchat,
.nomFrais,
.qteAchat,
.uniteAchat,
.prixUAchat,
.totalAchat,
.qteFraisChantier,
.uniteFraisChantier,
.prixUFraisChantier,
.totalFraisChantier {
  margin-top: 1vh;
  width: 48%;
  height: 3vh;
}
.nomAchat,
.nomFrais {
  width: 80%;
  height: 4vh;
}

.nbHeures {
  width: 80%;
}
.btnOpenFap {
  order: 3;
}
.btnGoToPost,
#btnUpdateClient {
  order: -1;
  font-size: 1.8rem;
  display: flex;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.divBtnPoste_fap {
  display: flex;
  order: 2;
  gap: 1vw;
}
.deletebtn {
  width: 20px;
  height: 20px;
  background-color: var(--color-delete-btn);
  border: none;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.deletebtn::before,
.deletebtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.deletebtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.groupePoste,
.groupeDevis {
  display: flex;
  justify-content: center;
}

.groupePoste {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

#hidden {
  display: none;
}

.posteFap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#nomPoste {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnPoste {
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  border-radius: 50px;
  padding: clamp(0.3rem, 0.5vw, 1.5rem) clamp(0.5rem, 1vw, 2.5rem);
  cursor: pointer;
}

.btnPostes {
  display: flex;
  flex-direction: row-reverse;
  gap: 3vw;
  order: 1;
}

/* Listes  */
#clientList,
#devisList,
#postList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}
#clientList,
#devisList,
#postList {
  width: 80%;
  max-width: 800px;
}
.devisContent,
.clientContent,
.postContent {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.libelleRef {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
}

.postLibelle,
.poste_ref {
  padding: 0 3vw;
}
.devisLibelle,
.devis_ref {
  padding: 0 1.5vw;
}
.clientItem,
.devisItem,
.postItem,
.sectionItem,
.achatItem,
.posteFap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  gap: 2vw;
  border: 1px solid var(--color-black);
  padding: 1em 1.5em;
  border-radius: 4px;
  box-shadow: var(--color-box-shadow);
  background-color: var(--color-white);
}

ul {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.groupeA {
  display: flex;
  flex-direction: column;
  align-items: center;
}
