:root {
  --bg-color: #fbfbfbb9;
  --input-text: #79838d;
  --btn-bg: #9dc515;
  --primary-blue: #0a4289;
  --color-primary: #85bd21;
  --color-secondary: #2479b2;
  --color-accent: #073973;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-border: #ccc;
  --color-box-shadow: #0000009d;
  --color-delete-btn: rgb(207, 12, 12);
}
